[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
watchdog = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-jose = "*"
python-multipart = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true