-i https://pypi.org/simple
amqp==2.5.2
billiard==3.6.1.0
celery==4.4.0rc4
certifi==2019.9.11
chardet==3.0.4
click==7.0
fastapi==0.42.0
h11==0.8.1
h2==3.1.1
hpack==3.0.0
hstspreload==2019.11.4
httptools==0.0.13
httpx==0.7.6
hyperframe==5.2.0
idna==2.8
importlib-metadata==0.23
kombu==4.6.6
more-itertools==7.2.0
pydantic==0.32.2
pytz==2019.3
redis==3.3.11
rfc3986==1.3.2
starlette==0.12.9
uvicorn==0.10.4
uvloop==0.14.0rc2
vine==1.3.0
websockets==8.1
zipp==0.6.0
